<div id = "main_finder">
        <div class = "name_finder">
                <h1><%= rental.name %></h1>
        </div>
      
        <div class = "image_finder">
                <% if rental.image.present? %>
                      <a href="/rentals"><%= image_tag rental.image, :width => '170', :height => '170' %></a>
                <% end %>
        </div>
        
        <div class = "body_finder">
                <h3><b>Occupation:</b>
                <%= rental.workertype %>
                </h3>
                
                <h3><b>Price:</b>
                $<%= rental.price %>/week
                </h3>
        </div>
</div>